@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GameOptions</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameOptions.Id"/>
            <input type="hidden" asp-for="GameOptions.Width"/>
            <input type="hidden" asp-for="GameOptions.Height"/>
            <input type="hidden" asp-for="GameOptions.Multiplayer"/>
            <input type="hidden" asp-for="GameOptions.HighlightMoves"/>
            <input type="hidden" asp-for="GameOptions.StartingPlayer"/>

            <div class="form-group">
                <label asp-for="GameOptions.Name" class="control-label"></label>
                <input asp-for="GameOptions.Name" class="form-control"/>
                <span asp-validation-for="GameOptions.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-1"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}