@page
@model WebApp.Pages_SongPlayed.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SongPlayed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SongPlayed.DjId" class="control-label"></label>
                <select asp-for="SongPlayed.DjId" class ="form-control" asp-items="ViewBag.DjId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SongPlayed.SongId" class="control-label"></label>
                <select asp-for="SongPlayed.SongId" class ="form-control" asp-items="ViewBag.SongId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
